@keyframes fadeInAnimationNew {
    0% {
        opacity: 0.05;
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
        filter:sepia(100%);
    }
    100% {
        opacity: 1;
        -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
        filter: blur(0px);
        filter:sepia(0%);
       
     }
}
.fadeInNew{
    animation: fadeInAnimationNew ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
