
* {
    box-sizing: border-box;
    margin:0; 
    padding:0
}
/* COLORES */
:root{
    --primario: #313131;
    --secundario: #3a73e2;
    --boton: #61b8ff;
    --oscuro: #1a1a1a;
    --blanco: white;
    --gris-oscuro : #2e2e30;
}
/* FUENTES */
@font-face {
    font-family: bebas;
    src: url(font/BebasNeue-Regular.ttf);
    font-display: swap;
}

.bebas{
    font-family: bebas;
}

/* HTML*/
html {
  scroll-behavior: smooth;
}
body,html{
    height: 100vh;
    width: 100%;
    background-color: var(--primario);
    font-family: bebas;
}
img {
    aspect-ratio: attr(width) / attr(height);
  }
/* HEADER */
#topnav{
    height:86px;
}

.bg-primario{
    background-color: var(--primario);
}
.bg-secundario{
    background-color: var(--secundario);
}
.bg-gris-oscuro{
    background-color: var(--gris-oscuro);
}
.bg-oscuro{
    background-color: var(--oscuro);
}
.bg-blanco{
    background-color: var(--blanco);
}
.bg-negro{
    background-color: rgb(0, 0, 0);
}
.bg-transparent{
    background-color: rgba(0, 0, 0, 0.1);
}
.bg-boton{
    background-color: var(--boton);
}
.bg-boton-gris{
    background-color: var(--gris-oscuro);
}

/* TEXT COLORS*/
.primario{
    color:var(--primario)
}
.secundario{
    color: var(--secundario);
}
.celeste{
    color: var(--boton);
}
.menu-shadow{
    box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
}
.gris-oscuro{
    color: var(--gris-oscuro);
}
.text-shadow{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

@media (max-width: 767.98px) {
    /* CONTAINER */
   
}
