<md-toolbar class="md-theme-indigo md-hue-2" md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <h1 flex md-truncate>GALERIA</h1>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="ctrl.logOut();">
            <md-icon md-svg-icon="img/icon/input-24px.svg" class="favorite-icon"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content  layout-padding>
    <md-subheader class="md-primary"> FOTOS </md-subheader>
        <fieldset style="border: dotted gray 3px;">
            <img ng-src="{{ctrl.noticias[0].img}}" alt="{{ctrl.noticias[0].titulo}}" title="{{ctrl.noticias[0].titulo}}" style="width: 100px; height: auto;"/>
            <legend style="text-align:center;">SUBIR FOTO</legend>
                <div>
                    <p>FOTO PRINCIPAL:</p>
                    <h4 style="color:red"></h4>
                        <upload-icon dirimg="../img/home/articulos/" titulo="FOTO" direccion="../../../../img/home/articulos/" cliqueando="img_home" db="imagenes"></upload-icon>
                </div>
        </fieldset>
        
 </md-content>    